ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    clear: both;
}

a.nav:link, a:visited {
    display: block;
    font-weight: bold;
    color: #00EFFF;
    background-color: #0B0C11;
    width: 200px;
    height: 50px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    border: #00A973 solid 2px;
}

a.nav:hover, a.nav:active {
    background-color: #4B5862;
}

div.icon {
    padding-bottom: 25px;
}

div.left-box {
    width: 226px;
    border-right: black solid 2px;
    top: 0;
    bottom: 0;
    position: fixed;
}

div.right-box {
    text-align: center;
    margin-left: 20%;
    min-width: 900px;
    max-width: 900px;
}

body {
    background-color: #5C7177;
}

h1 {
    padding-bottom: 20px;
}

.wrapper {
    width: 80%;
    margin: auto;
}

.outer {
    display: inline-block;
}


td {
    padding: 15px;
    border: 1px solid black;
    background-color: #d3d3d3;
}

th {
    padding: 15px;
    border: 4px solid black;
    background-color: #000000;
    color: #fafafa;
}

table {
    width: 60%;
    margin-left: 20%;
}


