ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    clear: both;
}

a.nav:link, a:visited {
    display: block;
    font-weight: bold;
    color: #00EFFF;
    background-color: #0B0C11;
    width: 200px;
    height: 50px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    border: #00A973 solid 2px;
}

a.nav:hover, a.nav:active {
    background-color: #4B5862;
}

div.icon {
    padding-bottom: 25px;
}

div.left-box {
    width: 226px;
    border-right: black solid 2px;
    top: 0;
    bottom: 0;
    position: fixed;
}

div.right-box {
    margin-left: 190px;
    min-width: 900px;
    max-width: 900px;
}

body {
    background-color: #5C7177;
}

h1 {
    padding-bottom: 20px;
}

div.center {
    text-align: center;
    width: 500px;
    height: auto;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

div.right {
    text-align: center;
    width: 500px;
    height: auto;
    float: left;
    margin-left: 10px;
}

#gallery, #video-gallery {
    position: relative;
}
#gallery ul, #video-gallery {
    width: 450px;
    list-style-type: none;
}
#gallery li, #video-gallery li {
    display: inline-block;
    padding: 10px;
}
#gallery img {
    border-style: none;
}
#gallery a {
    text-decoration: none;
    color: #333;
    font-style: italic;
}
#gallery span {
    display: none;
}
#gallery a:hover span {
    top: 30px;
    left: 400px;
    display: block;
    position: absolute;
    text-align: center;
}
.order ul {
    width: 600px;
    list-style-type: none;
}
.order li {
    display: inline-block;
}
.wrapper {
    width: 80%;
    margin: auto;
}

.horizontal-line {
    border-top: black solid 2px;
    border-bottom: black solid 2px;
}
.bottom-margin {
    margin-bottom: 10px;
}

#videoDiv2 {
    text-align: left;
    width: 640px;
}
#videoDiv2 h2 {
    text-align: center;
}
#video-gallery {
    text-align: center;
    width: 640px;
}
#video-gallery img:hover {
    opacity: 0.5;
}
div.commonBuilds {
    background-color: black;
    color: #00EFFF;
    padding: 5px 5px 5px 10px;
    width: 700px;
    border: green solid 3px;
}
img.commonBuilds {
    width: 85%;
}
#footer {
    text-align: left;
    color: cyan;
    display: block;
    margin-top: 50px;
    margin-left: 45px;
}